<div class="container">
    <h2>User Details</h2> 
     
    <hr/>
    <div *ngIf="user">
      <div>
        <label><b>First Name: </b></label> {{user.fname}}
      </div>
      <div>
        <label><b>Last Name: </b></label> {{user.lname}}
      </div>
      <div>
        <label><b>Email Id: </b></label> {{user.email}}
      </div>
      <div>
        <label><b>Phone: </b></label> {{user.phone}}
      </div> 
      <div>
        <label><b>Password: </b></label> {{user.password}}
      </div> 
      <div>
        <label><b>Gender: </b></label> {{user.gender}}
      </div>
    </div>
     
    <br>
    <br>
    <button (click)="list()" class="btn btn-primary">Back to Employee List</button><br>
    </div>